.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 800px;
  width: 800px;
}
.row {
  display: flex;
  flex-direction: row;
}
.container div:nth-child(even) {
  flex-direction: row-reverse;
}
.box {
  width: 100px;
  height: 100px;
  background-color: burlywood;
}

.row div:nth-child(odd) {
  background-color: black;
}
